.header__container_links {
    display: flex;
    flex-direction: row;
    column-gap: 1.25rem;
    list-style-type: none;
}


.header__link {
    opacity: 0.5;
    display: inline-block;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 1.125rem;
    color: var(--color_grey);
    cursor: pointer;
    transition: opacity 0.5s ease,
                transform 0.5s ease,
                color 0.5s ease;
}


.header__link--active {
    opacity: 1;
    transform: scale(1.1);
    color: var(--color_white);
}