* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
	text-decoration: none;
	--color_turquoise_dark: #121F26;
	--color_turquoise: #1A2E35;
	--color_gunmetal: #1E2F38;
	--color_orange_dark: #FF3E2D;
	--color_orange: #FF6F61;
	--color_pink: #FF9F80;
	--color_pink_light: #FFC1A6;
	--color_white: #FFFFFF;
	--color_grey_dark: #A9B2B2;
	--color_grey: #D3D9D9;
	--color_black: #000000;
}


@font-face {
	font-family: "Montserrat-Bold";
	src: url(/src/attachments/fonts/Montserrat-Bold.ttf);
}

@font-face {
	font-family: "Roboto-Regular";
	src: url(/src/attachments/fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: "Exo2-Bold";
	src: url(/src/attachments/fonts/Exo2-Bold.ttf);
}


html {
	scroll-behavior: smooth;
	scrollbar-width: thin;
	scrollbar-color: var(--color_pink) var(--color_gunmetal);
	cursor: default;
}


body {
	overflow-x: hidden;
	cursor: default;
}


#root {
	display: flex;
	flex-direction: column;
	width: 100vw;
	min-height: 100vh;
}
