* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
	text-decoration: none;
	--color_turquoise_dark: #121F26;
	--color_turquoise: #1A2E35;
	--color_orange_dark: #FF3E2D;
	--color_orange: #FF6F61;
	--color_pink: #FF9F80;
	--color_pink_light: #FFC1A6;
	--color_white: #FFFFFF;
	--color_grey: #D3D9D9;
	--color_shadow: rgba(0, 0, 0, 0.3);
}


@font-face {
	font-family: "Montserrat-Bold";
	src: url(/src/fonts/Montserrat-Bold.ttf);
}

@font-face {
	font-family: "Roboto-Regular";
	src: url(/src/fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: "Exo2-Bold";
	src: url(/src/fonts/Exo2-Bold.ttf);
}


body {
	overflow-x: hidden;
}


#root {
	display: flex;
	flex-direction: column;
	width: 100vw;
	min-height: 100vh;
}
